body {
    font-family: Arial, sans-serif;
  }
  
  header {
    text-align: center;
    padding: 50px 0;
  }
  
  main {
    margin: 50px auto;
    width: 80%;
  }
  
  section {
    margin-bottom: 50px;
    text-align: center;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label, input[type="submit"] {
    margin-bottom: 20px;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  input[type="submit"] {
    width: 50%;
    padding: 10px 20px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    margin-top: 50px;
  }
  
  ul{
    padding: 0px;
  }
  